parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    paths:
        - src
        - tests/Behat

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/app/**.php'
        - 'tests/Application/src/**.php'

    ignoreErrors:
        - '/Call to an undefined method Payum\\Core\\Request\\GetStatusInterface::getFirstModel\(\)./'
        - '/Call to an undefined method Sylius\\Bundle\\PayumBundle\\Request\\ResolveNextRouteInterface::getModel\(\)./'
        - '/Cannot call method getModel\(\) on mixed./'
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
        - '/Parameter #1 \$request \(Payum\\Core\\Request\\\w+\) of method CommerceWeavers\\SyliusSaferpayPlugin\\Payum\\Action\\\w+::execute\(\) should be contravariant with parameter \$request \(mixed\) of method Payum\\Core\\Action\\ActionInterface::execute\(\)/'
        - '/Parameter #1 \$request \(Sylius\\Bundle\\PayumBundle\\Request\\\w+\) of method CommerceWeavers\\SyliusSaferpayPlugin\\Payum\\Action\\\w+::execute\(\) should be contravariant with parameter \$request \(mixed\) of method Payum\\Core\\Action\\ActionInterface::execute\(\)/'
        - '/Parameter #1 \$request \(CommerceWeavers\\SyliusSaferpayPlugin\\Payum\\Request\\\w+\) of method CommerceWeavers\\SyliusSaferpayPlugin\\Payum\\Action\\\w+::execute\(\) should be contravariant with parameter \$request \(mixed\) of method Payum\\Core\\Action\\ActionInterface::execute\(\)/'
        - '/Method CommerceWeavers\\SyliusSaferpayPlugin\\Payum\\Request\\AssertInterface::getFirstModel\(\) has no return type specified./'
