<div class="ui stackable one column grid">
    <div class="column">
        {{ sylius_template_event('commerce_weavers_saferpay.admin.payment_method.configure_payment_methods.header', _context) }}
    </div>
</div>
